:root {
  --primary-color: #646cff;
  --react-color: #61dafbaa;
  --text-color: #888;
  --padding: 2rem;
  --logo-size: 6em;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: var(--padding);
  text-align: center;
}

.logo {
  height: var(--logo-size);
  padding: calc(var(--padding) / 1.333);
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em var(--primary-color));
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em var(--react-color));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: var(--padding);
}

.read-the-docs {
  color: var(--text-color);
}

/* Example of dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #e0e0e0;
    }
    .read-the-docs {
        color: #bbb;
    }
}